.sidebar {
  width: 600px;
  padding: 32px;
  background-color: #222;
  display: flex;
  flex-direction: column;

  .mainContent {
    flex: 3;
  }

  .systemsSelect {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
  }
}
